body{
    background-color: rgb(53, 53, 53);
}
.Superior{
    background-color: rgb(79, 4, 160);
    color:rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    display: flex;
    gap: 200px;

}

.Design{
    text-align: center;
    color: rgb(63, 0, 135);
}
h1{
color: rgb(185, 185, 185);
}
h1 span{
    color:rgb(40, 0, 81) ;
}
h2{
    color:rgb(255, 255, 255);
}
a{
    color: rgb(199, 199, 199);
}
.Escrita{
    text-align: center;
    color:rgb(255, 255, 255) ;
}
.Escrita h1{
    color: rgb(91, 0, 177);
}
img{
    width: 500px;
}