body{
    background-color: rgb(39, 39, 39);
}
.Superior{
    background-color: rgb(79, 25, 25);
    margin: 10px;
    text-align: center;
  
}
h1{
color: rgb(141, 15, 15);
}
h1 span{
    color:rgb(112, 0, 0) ;
}
a{
    color: rgb(137, 0, 0);
}
.Escrita{
    text-align: center;
    color:rgb(255, 255, 255) ;
}
.Escrita h3{
    color: rgb(82, 0, 0);
}
